[Unit]
Description=Webhook to send telegram messages

[Service]
Type=simple
WorkingDirectory=/opt/simpleci/bot/
Environment="BOT_TOKEN=%bot_token%"
Environment="BOT_CHAT_PASSWORD=%bot_chat_password%"
Environment="BOT_WEBHOOK_PASSWORD=%bot_webhook_password%"
ExecStart=%uvicorn% hook:app --port 10666

[Install]
WantedBy=multi-user.target
