[Unit]
Description=Webhook to send telegram messages

[Service]
Type=simple
WorkingDirectory=/opt/simpleci/bot/
ExecStart=%uvicorn% hook:app --port 10666
