[Unit]
Description=Telegram bot that registers user chats into a file

[Service]
Type=simple
WorkingDirectory=/opt/simpleci/bot/
ExecStart=%PYTHON3% bot.py
